body {
	background-color: #ADD8E6;
	margin:0px;
}

header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
  font-family: 'Ek Mukta', sans-serif;
}

h2{
	font-size: 80px;
	text-align: center;
}
/* ------- Navigation ------------ */
/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #333;
  font-family: 'Ek Mukta', sans-serif;
  
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  font-size: 20px;
  padding: 14px;
  text-decoration: none;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

/* LEGAL*/
article {
  text-align: center;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  height: 300px;
  text-align: center;
  margin-left: 14%;
  border-color: #DDDDDD;
}