@font-face {
	font-family: RalewayThin;
	src: url(fonts/Raleway-Thin.ttf);
}

body{
	margin: 0;
	padding: 0;
	text-align:center;
}

.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

#navbar {
  overflow: hidden;
  background-color: #333;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  font-family:'RalewayThin';
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
  font-weight: bold;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

contact-title {
	margin-top: 100px;
	color: black;
	text-transform: uppercase;
	transition: all 4s ease-in-out;
}

.contact-title h3{
	font-size: 32px;
	line-height: 10px;
}

form{
	margin-top: 50px;
	transition: all 4s ease-in-out;
}

.form-control {
	width: 600px;
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid gray;
	color: black;
	font-size: 18px;
	margin-bottom: 16px;
	font-family: sans-serif;
}

input {
	height: 45px
}

form .submit {
	background: ff5722;
	border-color: transparent;
	color: black;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	height: 50px;
	margin-top: 20px;
}


form .submit:hover {
	background-color: #f44336;
	cursor: pointer;
}

h1 {
	font-family:'RalewayThin';
	text-transform: uppercase;
	font-size: 55px;
    line-height: 10rem;
	color: #fff;
	text-align: centre;
	border-bottom: 3px dotted #fff;
}

h2 {
	font-family:'RalewayThin';
	text-transform: uppercase;
	font-weight: 1;
	text-align: center;
	font-size: 60px;
	color: black;
}

#cont_intro{
  background-color: white;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
  font-family: Impact, fantasy;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 290px;
}

#cont_two{
  background-color: #BEB9B5;
  padding: 30px;
  text-align: center;
  font-size: 25px;
  color: white;
  font-family: Impact, fantasy;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 310px;
}

#cont_two p {
	font-family: "Times New Roman", Georgia, Serif;
}

#cont_three{
  background-color: #FEF6EB;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
  font-family: Impact, fantasy;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 270px;
}

#cont_three p {
	font-family: "Times New Roman", Georgia, Serif;
}

#cont_four{
  background-color: #C25B56;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
  font-family: Impact, fantasy;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 290px;
}

#cont_four p {
	font-family: "Times New Roman", Georgia, Serif;
}


.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/background2.jpg");
  height: 400px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/Inkedimage1_LI.jpg");
  height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text p{
  text-align: center;
  top: 80%;
  left: 50%;
  font-family:'RalewayThin';
  font-size: 35px;
	text-transform: uppercase;
	color: #fff;
}


#uk-box1 {
	border-style: dashed;
    border-color: black;
    border-width: 3px;
	border-radius: 30px;
    padding: 30px;
    background-color: white;
    margin: 50px;
    position: initial;
	width: 60%;
}

#uk-box1 p {
	font-size: 20px;
	text-align: center;
}

#uk-box2 {
	border-style: dashed;
    border-color: black;
    border-width: 3px;
	border-radius: 30px;
    padding: 30px;
    background-color: white;
    margin: 50px;
    position: initial;
	width: 60%;
	right: -27%;
}

#uk-box2 p {
	font-size: 20px;
	text-align: center;
}

#uk-box3 {
	border-style: dashed;
    border-color: black;
    border-width: 3px;
	border-radius: 30px;
    padding: 30px;
    background-color: white;
    margin: 50px;
    position: initial;
	width: 60%;
}

#uk-box3 p {
	font-size: 20px;
	text-align: center;
}



#block-info {
	border-style: dashed;
    border-color: black;
    border-width: 3px;
	border-radius: 30px;
    padding: 30px;
    background-color: white;
    margin: 50px;
    position: relative;
    margin-bottom: 220px;
}

#block-info p {
	font-size: 20px;
	text-align: center;
}

/* ---- BUTTON HOME PAGE --- */
.button1 {
    border-radius: 15px;
    background-color: salmon;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 170px;
    transition: all 0.5s;
    cursor: pointer;
	margin: 15px;
}

.button1 span {
  cursor: pointer;
  display: inline-block;
  transition: 0.5s;
}

.button1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button1:hover span {
  padding-right: 25px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}

.button2 {
    border-radius: 15px;
    background-color: #FEF6EB;
    border: none;
    color: #74828F;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 170px;
    transition: all 0.5s;
    cursor: pointer;
}

.button2 span {
  cursor: pointer;
  display: inline-block;
  transition: 0.5s;
}

.button2 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button2:hover span {
  padding-right: 25px;
}

.button2:hover span:after {
  opacity: 1;
  right: 0;
}


.button3 {
    border-radius: 15px;
    background-color: #FEF6EB;
    border: none;
    color: #74828F;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 170px;
    transition: all 0.5s;
    cursor: pointer;
}

.button3 span {
  cursor: pointer;
  display: inline-block;
  transition: 0.5s;
}

.button3 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button3:hover span {
  padding-right: 25px;
}

.button3:hover span:after {
  opacity: 1;
  right: 0;
}

.button4 {
    border-radius: 15px;
    background-color: #FEF6EB;
    border: none;
    color: #74828F;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 170px;
    transition: all 0.5s;
    cursor: pointer;
}

.button4 span {
  cursor: pointer;
  display: inline-block;
  transition: 0.5s;
}

.button4 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button4:hover span {
  padding-right: 25px;
}

.button4:hover span:after {
  opacity: 1;
  right: 0;
}

.button5 {
    border-radius: 15px;
    background-color: #FEF6EB;
    border: none;
    color: #74828F;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 170px;
    transition: all 0.5s;
    cursor: pointer;
}

.button5 span {
  cursor: pointer;
  display: inline-block;
  transition: 0.5s;
}

.button5 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button5:hover span {
  padding-right: 25px;
}

.button5:hover span:after {
  opacity: 1;
  right: 0;
}

.button_about {
    border-radius: 15px;
    background-color: #96C0CE;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 170px;
    transition: all 0.5s;
    cursor: pointer;
}

.button_about span {
  cursor: pointer;
  display: inline-block;
  transition: 0.5s;
}

.button_about span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button_about:hover span {
  padding-right: 25px;
}

.button_about:hover span:after {
  opacity: 1;
  right: 0;
}

.button-test {
    border-radius: 15px;
    background-color: #96C0CE;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 170px;
    transition: all 0.5s;
    cursor: pointer;
}

.button-test span {
  cursor: pointer;
  display: inline-block;
  transition: 0.5s;
}

.button-test span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-test:hover span {
  padding-right: 25px;
}

.button-test:hover span:after {
  opacity: 1;
  right: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
  font-family: Courier New;
  font-size: 15px;
}

.grid-container > #how {
  background-color: #96C0CE;
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
  border-radius: 15px 50px 30px;
  height: 270px;
}

.grid-container > #organ {
  background-color: #BEB9B5;
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
  border-radius: 15px 50px 30px;
  height: 210px;
}

.grid-container > #online {
  background-color: #C25B56;
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
  border-radius: 15px 50px 30px;
  height: 210px;
}

.grid-container > #medical {
  background-color: #FEF6EB;
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
  border-radius: 15px 50px 30px;
  height: 210px;
}




/*--- ABOUT US ---*/

#about-info {
	background-color: rgba(255, 255, 255, 0.5);
    width: 700px;
    height: 360px;
    position: absolute;
    z-index: 20;
    margin-left: 450px;
    margin-top: 35px;
    border-radius: 15px;
    padding: 20px;
}

#about-info p {
	font-size: 20px;
	text-align: center;
	line-height: 0.9;
}


#nath{
    margin-left: 865px;
	border-radius: 15px;
	width: 500px;
}

#about-info2 {
	background-color: rgba(255, 255, 255, 0.5);
    width: 790px;
    height: 460px;
    position: absolute;
    z-index: 20;
    margin-left: 725px;
    margin-top: 745px;
    border-radius: 15px;
}

#about-info2 p {
	font-size: 20px;
	text-align: center;
	line-height: 0.9;
}


#nath2{
	margin-right: 900px;
    margin-top: -10px;
    border-radius: 15px;
    width: 500px;
}

/*--- LEGAL --- */
.legal-cont {
	padding: 20px;
    width: 100%;
    background-color: #f1f1f1;
    height: 230px;
    margin-bottom: 25px;
}

.uk-button {
    border-radius: 15px;
    background-color: #96C0CE;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 10px;
	width: 235px;
    height: 230px;
    transition: all 0.5s;
    cursor: pointer;
    border-radius: 185px;
	margin-right: -180px;
}

.uk-button span {
  cursor: pointer;
  display: inline-block;
  transition: 0.5s;
  font-family:'RalewayThin';
}

.uk-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.uk-button:hover span {
  padding-right: 25px;
  font-family:'RalewayThin';
  font-weight: bold;
}

.international-button:hover span:after {
  opacity: 1;
  right: 0;
}

.international-button {
    border-radius: 15px;
    background-color: #96C0CE;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 235px;
    height: 230px;
    transition: all 0.5s;
    cursor: pointer;
    border-radius: 185px;
    margin-left: 350px;
}

.international-button span {
  cursor: pointer;
  display: inline-block;
  transition: 0.5s;
  font-size: 24px;
  font-family:'RalewayThin';

}

.international-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.international-button:hover span {
  padding-right: 25px;
    font-family:'RalewayThin';
  font-weight: bold;
}

.international-button:hover span:after {
  opacity: 1;
  right: 0;
}

/*--- QUIZ ---*/

.n-button 
{
    
    width: 80px;
    height: 25px;
    text-align: center;
    float:right;
    background-color: #fff;
    margin: 0 2px 0 2px;
    cursor: pointer;
}
.n-button a 
{
    text-decoration: none;
    color: #555;
    line-height: 25px;
}
#container 
{
    width:50%;
    margin: 150px auto;
    padding: 50px 30px;
    background-color: #67a8ebba;
    border-radius:3px;
    color: #fff;
    box-shadow: 0 0 10px 0 #999;
}

#container h1 {
	font-family: 'RalewayThin';
    text-transform: uppercase;
    font-size: 40px;
    line-height: 65px;
    color: green;
    text-align: centre;
    border-bottom: 3px dotted #fff;
	margin-bottom: -10px;
}

#container h2 {
font-family: 'RalewayThin';
    font-weight: bolder;
    font-size: 25px;
    line-height: 10px;
}

ul 
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 500px;
	    margin-left: 90px;
}
ul li
{
    background: #223394;
    width: 200px;
    margin: 10px;
    padding: 5px;
    display: inline-block; 
	border-radius: 10px;
}
#prev 
{
    display:none;
}
#start 
{
    display:none;
    width: 100px;
}
input[type="radio"]{
    cursor: pointer;
}

footer {
    padding: 10px 20px;
    background: #666;
    color: white;	  
}




/*---- MEDIA QUERIES ----*/
@media screen and (max-width: 600px) {
body{
	margin: 0;
	padding: 0;
	text-align:center;
}

	.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/background2.jpg");
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text p{
  text-align: center;
  top: 80%;
  left: 50%;
  font-family:'RalewayThin';
  font-size: 40px;
    line-height: 55px;
	text-transform: uppercase;
	color: #fff;
}
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }

header {
  background-color: #525564;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
  font-family: Impact, fantasy;
  font-size: 20px;
}

footer {
    padding: 10px 20px;
    background: #666;
    color: white;	  
}
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (max-width: 500px) {
body{
	margin: 0;
	padding: 0;
	text-align:center;
}

h1 {
	font-family:'RalewayThin';
	text-transform: uppercase;
	font-size: 45px;
    line-height: 60px;
	color: #fff;
	border-bottom: 3px dotted #fff;
	padding-bottom: 20px;
}

h2 {
	font-size: 25px;
	font-weight: bold;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/background2.jpg");
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text p{
  text-align: center;
  top: 80%;
  left: 50%;
  font-family:'RalewayThin';
font-size: 30px;
    line-height: 40px;
  text-transform: uppercase;
	color: #fff;
}
 
 .topnav a:not(:first-child) {display: none;}
 .topnav a.icon {
    float: right;
    display: block;
  }
h2 {
	font-size: 25px;
}
#cont_intro{
  background-color: white;
  padding: 30px;
  text-align: center;
  font-size: 15px;
  color: white;
  font-family: Impact, fantasy;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 440px;
}

#cont_two{
  background-color: #BEB9B5;
  padding: 30px;
  text-align: center;
  font-size: 25px;
  color: white;
  font-family: Impact, fantasy;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 350px;
}

#cont_three{
  background-color: #FEF6EB;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
  font-family: Impact, fantasy;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 340px;
}

#cont_four{
  background-color: #C25B56;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
  font-family: Impact, fantasy;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 260px;
}

.grid-container {
display: grid;
    grid-template-columns: 310px;
    grid-gap: 30px;
    padding: 30px;
    font-family: Courier New;
    font-size: 15px;
}

.grid-container > #how {
  background-color: #96C0CE;
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
  border-radius: 15px 50px 30px;
  height: 210px;
}

.grid-container > #organ {
  background-color: #BEB9B5;
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
  border-radius: 15px 50px 30px;
  height: 210px;
}

.grid-container > #online {
  background-color: #C25B56;
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
  border-radius: 15px 50px 30px;
  height: 210px;
}

.grid-container > #medical {
  background-color: #FEF6EB;
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
  border-radius: 15px 50px 30px;
  height: 210px;
}
/*--- ABOUT ---*/
#about-info {
	background-color: rgba(255, 255, 255, 0.5);
width: 175px;
    height: 165px;
    position: absolute;
    z-index: 20;
    margin-left: 25px;
    margin-top: 35px;
    border-radius: 15px;
    padding: 20px;
}

#about-info p {
	font-size: 20px;
	text-align: center;
	line-height: 0.9;
}


#nath{
	margin-left: 185px;
    margin-top: -10px;
    border-radius: 15px;
    width: 150px;
}

#about-info2 {
    background-color: rgba(255, 255, 255, 0.5);
    width: 235px;
    height: 802px;
    position: absolute;
    z-index: 20;
    margin-left: 135px;
    margin-top: 295px;
    border-radius: 15px;
}

#about-info2 p {
	font-size: 20px;
	text-align: center;
	line-height: 0.9;
}

#nath2{
	margin-right: 160px;
    margin-top: 75px;
    border-radius: 15px;
    width: 150px;
}
/* --- CONTACT ---*/

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

footer {
    padding: 10px 20px;
    background: #666;
    color: white;	
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
body{
	margin: 0;
	padding: 0;
	text-align:center;
}

.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

h1 {
	font-family:'RalewayThin';
	text-transform: uppercase;
	font-size: 55px;
    line-height: 10rem;
	color: #fff;
	text-align: centre;
	border-bottom: 3px dotted #fff;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/background2.jpg");
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text p{
  text-align: center;
  top: 80%;
  left: 50%;
  font-family:'RalewayThin';
  font-size: 40px;
    line-height: 55px;
	text-transform: uppercase;
	color: #fff;
}

footer {
    padding: 10px 20px;
    background: #666;
    color: white;	  
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}